body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    margin-top: 10px;
    width: 200px;
    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #1bd472;
    color: #000000;
    border-bottom: 6px solid #d8cefe;
    border-radius: 20px;
}

.border-blue {
    border: 1px dotted blue;
}

a:link{
    color: #000501;
}
a:hover{
    color: #000501;
}
a:visited{
    color: #000501;
}
